.container {
    display: grid;
    /* Different ways to create grid-template-columns:
    grid-template-columns: 100px 100px 100px;
    grid-template-columns: 200px 500px 50px;
    grid-template-columns: 100px auto 500px 50px;
    grid-template-columns: repeat(5,100px);
    */
    grid-template-columns: 200px 500px;
    grid-template-rows: 200px 100px 400px;
    grid-gap: 20px;
}
