.container {
  display: grid;
  grid-gap: 20px;
  /* We can assign multiple names to the lines */
  grid-template-columns:
    [sider-start site-left] 1fr [sidebar-end content-start] 500px [content-end] 1fr;
  grid-template-rows: [content-top] repeat(10, auto) [content-bottom];
}

.item3 {
  background: slateblue;
  /* grid-column: 2;
  grid-row: 1 / span 10;
  We can also name the lines instead of using track numbers */
  grid-column: content-start;
  grid-row: content-top / content-bottom;
}
