/* only works in grid */
.corners {
  display: grid;
  height: 200px;
  width: 200px;
  border: 10px solid var(--yellow);
  /* grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  the above is same as follows: */
  grid-template: 1fr 1fr / 1fr 1fr;
  align-items: end;
  justify-items: end;
}

.corner:nth-child(1),
.corner:nth-child(2) {
  align-self: start;
}

.corner:nth-child(1),
.corner:nth-child(3) {
  justify-self: start;
}
